@font-face {
    font-family:"Buba";
    src: url(ofont.ru_Buba.ttf);
}

/* HEADER */
.header{
    width:100%;
    color: white;
    padding: 20px;
    background: #ffb2ee;
    box-sizing: border-box;
    font-family: Buba;
}

*{
    margin:0;
    padding:0;
}

.menu-item{
    list-style: none;
}

.menu-link, .menu-link2{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu-link, .menu-link2{
    text-transform: uppercase;
    font-weight: bold;
}

.header-logo{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    flex-grow: 1;
}

.logo-title{
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
}

.header-row{
    display: flex;
    flex-direction: row; 
    align-items: center;
}

.header-menu{
    flex-grow: 3;
}

.container{
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.menu{
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    flex-grow: 1;
}

.banner-text{
    text-align: center;
    color: rgb(255, 255, 255);
}

.banner-title{
    font-size: 48px;
    font-family: Buba;
}

.menu-link2{
    color: rgb(255, 255, 255);
}

.banner-section{
    padding: 100px 0;
    background: #fdc5f1;
    background-size: cover;
    background-position: center;
}

.cards-section{
    padding: 50px 0px;
    width:100%;
}

.card-title, .cards-title{
text-align: center;
color: black;
font-family: Buba;
font-size: 30px;
color:rgb(0, 0, 0);
font-weight: bold;
width:100%;
}

.cards-description{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    width:100%;
}

.cards-text{
    text-align: center;
    width:100%;
}

.cards-section{
    background: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    text-align: center;
    width:100%;
}

.card-link{
    color:rgb(255, 255, 255);
    text-decoration: none;
    width:100%;
}

.card-text{
    font-size: 20px;
    margin-bottom: 10px;
    width:100%;
}

.card{
    padding: 25px;
    margin-top: 25px;
    width: 25%;
    background: white;
    box-shadow: 0px 2px 40px 0px #ff71f3;
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card:hover {
      box-shadow: 5px 4px 50px 5px #ff71f3;
      cursor: grab;
      }

.card-button{
    background:#fdc5f1;
    padding: 10px 70px;
    border-radius: 10px;
    cursor: pointer;
}

.card-title{
    margin-bottom: 10px;
    margin-top: 10px;
}

.footer{
    background:#fdc5f1;
    background-size: cover;
    padding: 100px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.copyright{
    color: white;
}

.cards-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.social-networks{
    display: flex;
    justify-content: flex-end;
}

.footer-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 850px) {
    .header-menu{
        display: none;
    }
    .header-logo{
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 850px) {
    .cards-row{
        justify-content: center;
        flex-wrap: wrap;
    }
    .card{
        width: auto;
    }
    }

@media screen and (max-width: 850px) {
    .copyright, .social-networks{
        width: 100%;
        margin-bottom: 10px;
        margin-right: 0;
     }
     .copyright{
        color: white;
     }
    .footer-row{
        flex-wrap: wrap;
    }
    .social-networks{
        justify-content: space-around;
    }
    .footer{
        padding: 20px 0;
    }
     }